Language: C

UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 1

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true

AlignAfterOpenBracket: DontAlign

# Line length
ColumnLimit: 90

# Braces
BreakBeforeBraces: Attach

# Spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterForeachMacros: false
  AfterIfMacros: false
  AfterNot: false
  AfterOverloadedOperator: false
  AfterPlacementOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false

# Function calls / params
AllowAllParametersOfDeclarationOnNextLine: true

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false

# Short forms
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true

# Includes
SortIncludes: Never
IncludeBlocks: Preserve

# Preprocessor
IndentPPDirectives: None

# Pointers
PointerAlignment: Left
DerivePointerAlignment: false

# Comments
ReflowComments: false
