---
Language: C
# Use tabs, not spaces
UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4

# Brace style
BreakBeforeBraces: Attach

# Spaces around parentheses
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false

# Keep initializer lists on same line if possible
BinPackParameters: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true

ColumnLimit: 0 # disable line wrapping for long arrays
...

